@import 'tailwindcss';
@import 'remixicon/fonts/remixicon.css';

@theme {
  /* ===== Blue 팔레트 ===== */
  --color-blue-50: #f3f5fb; /* 매우 연한 배경용 */
  --color-blue-100: #e1e7fb;
  --color-blue-200: #bbc4f2;
  --color-blue-300: #93a0ea;
  --color-blue-400: #6077db;
  --color-blue-500: #31418c; /* 메인 컬러 */
  --color-blue-600: #28366f;
  --color-blue-700: #1f2956;
  --color-blue-800: #161e3e;
  --color-blue-900: #0f1528;

  /* ===== Red 팔레트 ===== */
  --color-red-50: #fef3f5;
  --color-red-100: #fce4e8;
  --color-red-200: #f9c5d0;
  --color-red-300: #f59bae;
  --color-red-400: #f16887;
  --color-red-500: #e63f5d;
  --color-red-600: #c72847;
  --color-red-700: #9d1f38;
  --color-red-800: #6e1628;
  --color-red-900: #3d0d16;

  /* ===== Green 팔레트 ===== */
  --color-green-50: #f0fdf6;
  --color-green-100: #dcfce9;
  --color-green-200: #bbf7d4;
  --color-green-300: #86efb4;
  --color-green-400: #4ade89;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
  --color-green-800: #166534;
  --color-green-900: #14532d;

  /* ===== Purple 팔레트 ===== */
  --color-purple-50: #faf5ff;
  --color-purple-100: #f3e8ff;
  --color-purple-200: #e9d5ff;
  --color-purple-300: #d8b4fe;
  --color-purple-400: #c084fc;
  --color-purple-500: #a855f7;
  --color-purple-600: #9333ea;
  --color-purple-700: #7e22ce;
  --color-purple-800: #6b21a8;
  --color-purple-900: #581c87;

  /* ===== Gray 팔레트 ===== */
  --color-gray-50: #f8f9fb;
  --color-gray-100: #f0f2f5;
  --color-gray-200: #e1e4ea;
  --color-gray-300: #c8cdd6;
  --color-gray-400: #a4aab6;
  --color-gray-500: #7e8594;
  --color-gray-600: #626978;
  --color-gray-700: #494e5c;
  --color-gray-800: #2f3340;
  --color-gray-900: #1a1c24;
}
/* 
html {
  font-family:
    var(--font-noto-sans-kr), var(--font-pacifico), var(--font-geist-mono), var(--font-geist-sans),
    sans-serif;
  letter-spacing: -0.02em;
} */

@layer base {
  html {
    font-family:
      var(--font-noto-sans-kr), var(--font-geist-sans), var(--font-geist-mono),
      var(--font-pacifico), sans-serif;
    letter-spacing: -0.05em;
  }

  body {
    transform: translateY(-0.05em);
  }

  button,
  a,
  input,
  select,
  textarea,
  label,
  span,
  p,
  div {
    /* 한글 폰트 특성 때문에 살짝 위로 올림 */
    transform: translateY(-0.08em);
  }
}
